.container {
	width: 1210px;
}

header {
	background-color: #FBF6FB;
}

/* Sub nav, menu */
.submenu {
	width: 808px;
	background-color: #FBF6FB;
}

.submenu>li>a {
	padding: 3px;
	color: #696969;
	font-size: 13px;
	padding-right: 20px;
}

.submenu>li>a:hover, .btndrop:hover, .btndrop:focus {
	background-color: #FBF6FB;
	color: #2930FF;
}

.submenu .fa-handshake-o, .submenu .fa-phone-square, .submenu .fa-list-alt {
	color: #2930FF;
	font-size: 16px;
}

 .submenu .fa-user, .submenu .fa-user-plus {
 	color: #2930FF;
	font-size: 15px;
 }

.btndrop{
	border: none;
	outline: none; 
	background-color: #FBF6FB;
	color: #696969;
	font-size: 13px;
	padding-right: 20px;
	margin-top: 2px;
}

/* Tùy chỉnh dropdown CSKH */
.dropdown-menu>li{
	text-indent: -7px;
	font-size: 12px;
	margin: 3px;
}

.dropdown-menu>li>a:hover{
	color: #84079A;
}

/* Form kiểm tra đơn hàng */
#form-ktdonhang{
	padding: 10px;
	width: 200px;
}

/* Form Đăng kí thành viên */
#form-dangki>.form-group>label{
	font-weight: normal;
}

.btnmodal:focus{
	background-color: #FBF6FB;
	color: #696969;
}

/* Thay đổi vị trí hiển thị của modal*/
.modal-content{
	border-radius: 0px;
}

.modal-dialog{
	padding-top: 60px;
}

/* Button Close modal */
.close1{
	border: 1px solid #DA0000;
	float: right;
	background-color: #FFFFFF;
	outline: none;
}

.close1 > span {
	color: #DA0000;
}


/* Tùy chỉnh button */
.btntim{
	background-color: #9D3CAE;
	color: #FFFFFF;
	font-size: 12px;
}

.btntim:hover, .btntim:focus {
	color: #FFFFFF;
}



/* CỐ ĐỊNH THANH MAIN MENU */
.affix {
	width: 100%;
	z-index: 2;
	top: 0px;
	box-shadow: 2px 2px 2px #B4AEAE;
}





/* Main Nav */
#top-nav{
	height: 70px;
	background-color: #FBF6FB;
	border-radius: 0px;
	margin-bottom: 0px;
}

#top-nav #logo {
	height: 50px;
	width: 160px;
	margin-top: -5px;
	margin-left: 20px;
	position: relative;
}

/* Input group Search */
#mainnav{
	padding-top: 10px;
	padding-left: 205px;
	margin-left: 40px;
}

#mainnav input {
	width: 390px;
	height: 37px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	outline: none;
	padding-left: 10px;
	border: 2px solid #A633D7;
	border-right-style: none;
	font-size: 13px;
	background-color: #FBF6FB;
}

#mainnav select {
	height: 37px;
	outline: none;
	border-top: 2px solid #A633D7;
	border-bottom: 2px solid #A633D7;
	border-left-style: 1px solid #F0F0F0;
	font-size: 13px;
	background-color: #FBF6FB;
	padding: 0px 10px 0px 5px;
}



#mainnav .btn-search {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 2px solid #A633D7;
	border-left-style: none;
	background-color: #A633D7;
	outline: none;
}

#mainnav .btn-search > span {
	color: #FFFFFF;
	font-size: 19px;
}

/* Nav Right bao gồm Cart, yêu thích */
/* Button Cart */
.nav-right .btn-cart{
	margin-right: 30px;
	outline: none;
	border: none;
	font-size: 14px;
	border-radius: 3px;
	padding: 6px;
	background-color: #A633D7;
	color: #FFFFFF;
}

.nav-right .btn-cart:hover {
	background-color: #8523AC;
}

.btn-cart .fa-shopping-cart {
	font-size: 22px;
	color: #FFFFFF;
}

.btn-cart .badge {
	margin-top: -5px;
	margin-left: -10px;
	color: #8523AC;
	background-color: #FFFFFF;
}

/* Button Yêu thích */
.nav-right .btn-yeuthich{
	background-color: #FBF6FB;
	border: 1px solid #D5CDD5;
	outline: none;
	font-size: 14px;
	padding: 6px;
	border-radius: 3px;
	outline: none;
	margin-right: 5px;
}

.btn-yeuthich:hover {
	background-color: #FF9FFF;
	border: 1px solid #A633D7;
}

.btn-yeuthich .fa-heart-o {
	font-size: 18px;
}

.btn-yeuthich .badge {
	background-color: #8523AC;
	border-color: #A633D7;
	margin-top: -5px;
}




/* Giỏ hàng */
#modalCart .fa-shopping-cart {
	font-size: 24px;
	color: #2930FF;
}

#modalCart .modal-dialog {
	width: 800px;
}

#modalCart .modal-content {
	max-height: 485px;
}

#modalCart .modal-body {
	background-color: #F4F4F4;
}

#modalCart .modal-header .close1,  #modalCart .modal-header .modal-title {
	margin: -5px;
}

/* Tùy chỉnh danh sách sản phẩm trong giỏ hàng */
.modal-body  .list-cart{
	margin: -8px;
	padding: 5px;
	background-color: #FFFFFF;
	border-radius: 3px;
	border: 1px solid #DBD6D6;}

	/* Chỉnh dòng header */
.modal-body .title-cart {
	padding: 5px;
	background-color: #EEEDED;
	margin-top: -5px;
	margin-right: -5px;
	margin-left: -5px;
}
	/* Chỉnh hiển thị 1 dòng chi tiết sản phẩm */
.modal-body .detail-cart {
	border-bottom: 1px dashed #DBD6D6;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 5px;
}
	/* Tạo hộp danh sách và hiển thị scrollbar */
.modal-body .box-scroll {
	max-height: 280px;
	font-size: 12px;
	overflow-x: hidden;
	margin-right: -5px;
	margin-left: -5px;
}
	/* Chỉnh ảnh */
.box-scroll #imageProduct {
	width: 70px;
	height: 70px;
}
	/* Chỉnh tên, sản phẩm yêu thích */
.box-scroll .ten-sp {
	float: right;
	width: 270px;
	margin-top: 5px;	
}

.box-scroll .ten-sp a {
	font-size: 13px;
	color: #2930FF;
}

.box-scroll .ten-sp a:hover {
	color: #590A95;
}

.box-scroll .gia-cart {
	text-align: right;
	margin-top: 20px;
	font-size: 13px;
}

.box-scroll .sl-cart{
	margin-top: 20px;
	text-align: center;
}

.box-scroll .xoasp-cart {
	color: #DA0000;
	padding-left: 60px;
	font-size: 19px;
}

.box-scroll .xoasp-cart button {
	border: none;
	background-color: #FFFFFF;
	margin-top: 14px;
	outline: none;
}

/* Footer của giỏ hàng */
.modal-footer .label-thanhtien {
	font-weight: normal;
}

.modal-footer .label-tong {
	font-size: 16px;
	color: #DA0000;
	width: 150px;
}

.modal-footer .label-vat {
	font-size: 13px;
	margin-top: -5px;
}

.footer-cart {
	margin: 5px;
}

.footer-cart .tieptuc-cart {
	float: left;
	font-size: 16px;
	
}

.footer-cart span:hover {
	color:  #2930FF;
}

.footer-cart .thanhtoan-cart {
	font-size: 14px;
}




/* Nav bottom */
.nav-bottom, .nav-bottom .nav-pills {
	background-color: #A633D7;
}


/* Tùy chỉnh button danh mục */
.nav-bottom .btn-danhmuc {
	color: #FFFFFF;
	background-color: #9030BA;
	padding: 10px 30px 9px 20px;
	border: none;
	font-weight: bold;
	font-size: 13px;
	outline: none;
	margin-right: 5px;
}

.nav-bottom .danhmuc {
	position: relative;
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 256px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-bottom .dropdown-content a {
    display: block;
    overflow: hidden;
    color:  #666566;
	padding: 4px;
	border-bottom: 1px solid #EDECEE;
	text-decoration: none;
	width: 256px;
	padding-left: 30px;
}

.nav-bottom .dropdown-content a:hover {
	background-color: #A633D7;
	color: #FFFFFF;
}

.nav-bottom .danhmuc:hover .dropdown-content {
    display: block;
}


.nav-bottom .btn-danhmuc .fa-navicon, .nav-bottom .btn-danhmuc .fa-angle-down {
	font-size: 16px;
	font-weight: bold;
}




/* Tùy chỉnh khuyến mãi, bán chạy, hàng mới */
.nav-bottom .nav-bottom-km, .nav-bottom .nav-bottom-banchay, .nav-bottom .nav-bottom-hangmoi {
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
	padding-left: 30px;
	padding-right:30px;
	border-radius: 0px;
	border-right: 1px solid #B329EE;
}

.nav-bottom .nav-bottom-km:hover, .nav-bottom .nav-bottom-banchay:hover, .nav-bottom .nav-bottom-hangmoi:hover {
	background-color: #9030BA;
}

.nav-bottom .nav-bottom-km:focus, .nav-bottom .nav-bottom-banchay:focus, .nav-bottom .nav-bottom-hangmoi:focus {
	background-color: #A633D7;
}

.nav-bottom .fa-gift, .nav-bottom .fa-tag, .nav-bottom .fa-tags {
	font-size: 16px;
	font-weight: bold;
}







/* Tùy chỉnh Body */
body {
	background-color: #FBF6FB;
	padding-bottom: 50px;
}

/* Tùy chỉnh đường dẫn */
.duongdan, .duongdan .row, .duongdan .breadcrumb {
	background-color: #EAE9E9;
	border-radius: 0px;
	height: 35px;	
}

.duongdan .breadcrumb {
	padding: 5px;
}

.duongdan .breadcrumb li, .duongdan .breadcrumb a {
	color: #696969;
	font-size: 12px;
}

.duongdan .breadcrumb a:hover {
	text-decoration: none;
	color: #2930FF;
}


/* Tùy chỉnh lượt mua, xem, hỏi */
.box-detail .number-buy,  .box-detail .number-view, 
	.box-detail .number-cmt {
		color: #504F4F;
		cursor: default;
		font-size: 14px;
		margin-left: 18px;
}


/*Tùy chỉnh box-detail */
.box-detail {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 15px;
	background-color: #FFFFFF;
}

.box-detail hr {
	color: red;
}

/*Tùy chỉnh hình ảnh */
.box-detail .img-product .slider-for {
   	margin-bottom: 15px;
}

.box-detail .img-product .slider-for img {
	width: 350px;
    height: 350px;
}

.box-detail .img-product .slider-nav {    
    width: 300px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.box-detail .img-product .slider-nav img {
	width: 50px;
    height: 50px;
    border: 1px solid #A9A9A9;
}

.box-detail .img-product a {
	font-size: 16px;
	color: #2930FF;
}

.box-detail .img-product a:hover {
	color: #590A95;
}


/*Tùy chỉnh thông tin */
.box-detail .info-product hr {
	margin-top: 5px;
	margin-bottom: 10px;
}

.box-detail .info-product .col-md-6 li {
	margin-left: -30px;
	font-size: 13px;
}

.box-detail .info-product .label-soluong {
	margin-bottom: 15px;
	margin-top: 15px;
}

.box-detail .info-product .label-soluong label {
	margin-left: 15px;
	font-size: 14px;
	font-weight: normal;
}

.box-detail .info-product .label-soluong select {
	width: 50px;
	height: 23px;
	margin-right: 10px;	
}

.box-detail .info-product .label-gia {
	margin-top: -20px;
}

.box-detail .info-product .label-gia h3 {
	color: red;
	margin-left: 10px;	
}

.box-detail .info-product .label-gia .col-md-8 {
	font-size: 13px;
	margin-top: -5px;
}


.box-detail .info-product .time-ship {
	margin-top: 30px;
	margin-bottom: 20px;
}

.box-detail .info-product .list-btn {
	margin: 30px 10px 20px 0px;
}

.box-detail .info-product .list-btn .btn-addCart, .box-detail .info-product .list-btn .btn-buyPro {	
	height: 40px;
	font-size: 15px;
	color: #FFFFFF;
	font-weight: bold;
}

.box-detail .info-product .list-btn .btn-addCart {
	background-color: #1A920D;
	width: 190px;
	margin-right: 10px;
}

.box-detail .info-product .list-btn .btn-buyPro {
	background-color: #A633D7;
	width: 140px;
}

.box-detail .info-product .list-btn .btn-addCart span, .box-detail .info-product .list-btn .btn-buyPro span {
	font-size: 18px;
}

.box-detail .info-product .label-huongdanmua {
	margin-top: -50px;
	margin-right: 8px;
}

.box-detail .info-product .label-huongdanmua img {
	margin-top: -30px;
}

.box-detail .info-product .label-huongdanmua label {
	font-weight: normal;
	font-size: 13px;
	cursor: pointer;
}


/*Tùy chỉnh thông tin giao hàng */
.box-detail .ship-product {	
	width: 268px;
	background-color: #E7FAFC;
	border-top: 1px solid #9C9999;
	margin-left: 20px;
}

.box-detail .ship-product .fa-map-marker {
	font-size: 28px;
	color: #868686;
}

.box-detail .ship-product #btn-diadiem {
	width: 215px;
	margin-top: 20px;
}

.box-detail .ship-product .fa-file-text-o {
	font-size: 20px;
}

.box-detail .ship-product .row {
	padding: 8px 0px 8px 18px;
}

.box-detail .ship-product .noicungcap img {
	margin-left: -15px;
}

.box-detail .ship-product .col-md-3 {
	width: 55px;
}





/* Tùy chỉnh footer */
.footer {
	padding-top: 30px;
	border-top: 1px solid #DEDEDE;
	background-color: #F2F2F2;
	height: 500px;
}

.footer h5 {
	font-weight: bold;
}

.footer .col-md-3 a {
	display: block;
	padding: 3px;
	text-decoration: none;
	color: #635E63;
	font-size: 13px;
}

.footer .col-md-3 a:hover {
	color: #2930FF;
}

.footer .col-md-12 {
	padding-bottom: 30px;
}