.container {
	width: 1000px;
	text-align: center;
}

.navbar {
	height: 100px;
	background-color: #FBF6FB;
	border-bottom: 1px solid #A633D7;
	border-radius: 0px;
}

.navbar .navbar-collapse {
	margin-top: 20px;
}

.navbar .navbar-collapse i {
	font-size: 16px;
}

.navbar .navbar-collapse span {
	font-size: 18px;
}


.panel-xacthuc {
	width: 500px;
	height: 300px;
	margin-top: 70px;
	background-color: #FBF6FB;
	padding: 30px;
}

.panel-xacthuc p {
	font-size: 16px;
	padding: 5px;
}

#form-xacthuc input {
	text-align: center;
}

#form-xacthuc button {
	margin-bottom: 20px;
	margin-top: 10px;
	width: 200px;
}

#form-xacthuc a {
	text-decoration: none;
}

.footer {
	text-align: center;
	font-size: 11px;
	margin-top: 140px;
}