/* Sub nav, menu */
.subnav{
	background-color: #FBF6FB;
	height: 22px;
}

.submenu>li>a {
	padding: 3px;
	color: #696969;
	font-size: 13px;
	padding-right: 20px;
}

.submenu>li>a:hover, .btndrop:hover, .btndrop:focus {
	background-color: #FBF6FB;
	color: #2930FF;
}

.submenu .fa-handshake-o, .submenu .fa-phone-square, .submenu .fa-list-alt {
	color: #2930FF;
	font-size: 16px;
}

 .submenu .fa-user, .submenu .fa-user-plus {
 	color: #2930FF;
	font-size: 15px;
 }

.btndrop{
	border: none;
	outline: none; 
	background-color: #FBF6FB;
	color: #696969;
	font-size: 13px;
	padding-right: 20px;
	margin-top: 2px;
}

/* Tùy chỉnh dropdown CSKH */
.dropdown-menu>li{
	text-indent: -7px;
	font-size: 12px;
	margin: 3px;
}

.dropdown-menu>li>a:hover{
	color: #84079A;
}

/* Form kiểm tra đơn hàng */
#form-ktdonhang{
	padding: 10px;
	width: 200px;
}

/* Form Đăng kí thành viên */
#form-dangki>.form-group>label{
	font-weight: normal;
}

.btnmodal:focus{
	background-color: #FBF6FB;
	color: #696969;
}

/* Thay đổi vị trí hiển thị của modal*/
.modal-content{
	border-radius: 0px;
}

.modal-dialog{
	padding-top: 60px;
}

/* Button Close modal */
.close1{
	border: 1px solid #DA0000;
	float: right;
	background-color: #FFFFFF;
	outline: none;
}

.close1 > span {
	color: #DA0000;
}


/* Tùy chỉnh button */
.btntim{
	background-color: #9D3CAE;
	color: #FFFFFF;
	font-size: 12px;
}

.btntim:hover, .btntim:focus {
	color: #FFFFFF;
}





/* Main Nav */
#top-nav{
	height: 70px;
	background-color: #FBF6FB;
	border-radius: 0px;
	border-right: none;
	border-left: none;
}

#top-nav #logo {
	height: 50px;
	width: 160px;
	margin-top: -5px;
	position: relative;
}

/* Input group Search */
#mainnav{
	padding-top: 10px;
	padding-left: 205px;
}

#mainnav input {
	width: 550px;
	height: 37px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	outline: none;
	padding-left: 10px;
	border: 2px solid #A633D7;
	border-right-style: none;
	font-size: 13px;
	background-color: #FBF6FB;
}

#mainnav .btn-search {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 2px solid #A633D7;
	border-left-style: none;
	background-color: #A633D7;
	outline: none;
}

#mainnav .btn-search > span {
	color: #FFFFFF;
	font-size: 19px;
}

/* Nav Right bao gồm Cart, yêu thích */
/* Button Cart */
.nav-right .btn-cart{
	margin-right: 30px;
	outline: none;
	border: none;
	font-size: 14px;
	border-radius: 3px;
	padding: 6px;
	background-color: #A633D7;
	color: #FFFFFF;
}

.nav-right .btn-cart:hover {
	background-color: #8523AC;
}

.btn-cart .fa-shopping-cart {
	font-size: 22px;
	color: #FFFFFF;
}

.btn-cart .badge {
	margin-top: -5px;
	margin-left: -10px;
	color: #8523AC;
	background-color: #FFFFFF;
}

/* Button Yêu thích */
.nav-right .btn-yeuthich{
	background-color: #FBF6FB;
	border: 1px solid #D5CDD5;
	outline: none;
	font-size: 14px;
	padding: 6px;
	border-radius: 3px;
	outline: none;
	margin-right: 5px;
}

.btn-yeuthich:hover {
	background-color: #FF9FFF;
	border: 1px solid #A633D7;
}

.btn-yeuthich .fa-heart-o {
	font-size: 18px;
}

.btn-yeuthich .badge {
	background-color: #8523AC;
	border-color: #A633D7;
	margin-top: -5px;
}




/* Giỏ hàng */
#modalCart .fa-shopping-cart {
	font-size: 24px;
	color: #DA0000;
}

#modalCart .modal-dialog {
	width: 800px;
}

#modalCart .modal-content {
	max-height: 485px;
}

#modalCart .modal-body {
	background-color: #F4F4F4;
}

#modalCart .modal-header .close1,  #modalCart .modal-header .modal-title {
	margin: -5px;
}

/* Tùy chỉnh danh sách sản phẩm trong giỏ hàng */
.modal-body  .list-cart{
	margin: -8px;
	padding: 5px;
	background-color: #FFFFFF;
	border-radius: 3px;
	border: 1px solid #DBD6D6;}

	/* Chỉnh dòng header */
.modal-body .title-cart {
	padding: 5px;
	background-color: #EEEDED;
	margin-top: -5px;
	margin-right: -5px;
	margin-left: -5px;
}
	/* Chỉnh hiển thị 1 dòng chi tiết sản phẩm */
.modal-body .detail-cart {
	border-bottom: 1px dashed #DBD6D6;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 5px;
}
	/* Tạo hộp danh sách và hiển thị scrollbar */
.modal-body .box-scroll {
	max-height: 280px;
	font-size: 12px;
	overflow-x: hidden;
	margin-right: -5px;
	margin-left: -5px;
}
	/* Chỉnh ảnh */
.box-scroll #imageProduct {
	width: 70px;
	height: 70px;
}
	/* Chỉnh tên, sản phẩm yêu thích */
.box-scroll .ten-sp {
	float: right;
	width: 270px;
	margin-top: 5px;	
}

.box-scroll .ten-sp a {
	font-size: 13px;
	color: #2930FF;
}

.box-scroll .ten-sp a:hover {
	color: #590A95;
}

.box-scroll .gia-cart {
	text-align: right;
	margin-top: 20px;
	font-size: 13px;
}

.box-scroll .sl-cart{
	margin-top: 20px;
	text-align: center;
}

.box-scroll .xoasp-cart {
	color: #DA0000;
	padding-left: 60px;
	font-size: 19px;
}

.box-scroll .xoasp-cart button {
	border: none;
	background-color: #FFFFFF;
	margin-top: 14px;
	outline: none;
}

/* Footer của giỏ hàng */
.modal-footer .label-thanhtien {
	font-weight: normal;
}

.modal-footer .label-tong {
	font-size: 16px;
	color: #DA0000;
	width: 150px;
}

.modal-footer .label-vat {
	font-size: 13px;
	margin-top: -5px;
}

.footer-cart {
	margin: 5px;
}

.footer-cart .tieptuc-cart {
	float: left;
	font-size: 16px;
	
}

.footer-cart span:hover {
	color:  #2930FF;
}

.footer-cart .thanhtoan-cart {
	font-size: 14px;
}




/* Nav bottom */
.nav-bottom {
	background-color: #A633D7;
	margin-top: -20px;
}


/* Tùy chỉnh button danh mục */
.nav-bottom .btn-danhmuc {
	color: #FFFFFF;
	background-color: #9030BA;
	padding: 10px 20px 9px 15px;
	border: none;
	font-weight: bold;
	font-size: 13px;
	position: relative;
	outline: none;
	margin-right: 5px;
}

.nav-bottom .btn-danhmuc .fa-navicon, .nav-bottom .btn-danhmuc .fa-angle-down {
	font-size: 16px;
	font-weight: bold;
}

.nav-bottom .danhmuc {
	position: relative;
	display: inline-block;
}

.nav-bottom .danhmuc:hover .dropdown-content {
	display: block;
}

.nav-bottom .dropdown-content {
	display: none;
	position: absolute;
	width: 1150px;
	height: 250px;
	background-color: #3C3A3D;
	padding: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-bottom .dropdown-content a {
	display: block;
	transition: all 3s;
	text-decoration: none;
	padding: 5px 0px 5px 15px;
	color: #FFFFFF;
}


/* Tùy chỉnh khuyến mãi, bán chạy, hàng mới */
.nav-bottom .nav-bottom-km, .nav-bottom .nav-bottom-banchay, .nav-bottom .nav-bottom-hangmoi {
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
	padding-left: 30px;
	padding-right:30px;
	border-radius: 0px;
	border-right: 1px solid #B329EE;
}

.nav-bottom .nav-bottom-km:hover, .nav-bottom .nav-bottom-banchay:hover, .nav-bottom .nav-bottom-hangmoi:hover {
	background-color: #9030BA;
}

.nav-bottom .nav-bottom-km:focus, .nav-bottom .nav-bottom-banchay:focus, .nav-bottom .nav-bottom-hangmoi:focus {
	background-color: #A633D7;
}

.nav-bottom .fa-gift, .nav-bottom .fa-tag, .nav-bottom .fa-tags {
	font-size: 16px;
	font-weight: bold;
}







/* Tùy chỉnh Body */
.body {
	background-color: #FBF6FB;
	margin-top: 5px;
}

.panel-carousel {
	padding-left: 0px;
}

#myCarousel{
	width: 1140px;
}

#myCarousel img {
	width: 1140px;
	height: 370px;
}

.panel-ship {
	margin-top: 2px;
}

.panel-ship img {
	float: left;
	width: 379px;
}


/* Tùy chỉnh panel sản phẩm */
.panel-ProCare {
	border: 1px solid #D9D9D9;
	margin-top: 10px;
	background-color: #FFFFFF;
}

.panel-ProCare .title-panel-ProCare {
	background-color: #E1DFDF;
	padding: 10px;
	margin-left: 0px;
	margin-right: 0px;
	font-weight: bold;	
}

.panel-ProCare .list-ProCare {
	margin-left: 0px;
	margin-right: 0px;
}

.panel-ProCare .list-ProCare img {
	width: 189px;
	height: 200px;
	margin-left: -14px;
	padding-top: 15px;
}

/* Tùy chỉnh title giá, tên, ... */
.panel-ProCare .detail-ProCare {
	margin-left: -15px;
	margin-right: -15px;
	padding-top: 20px;
}

.panel-ProCare .detail-ProCare .priceProm-ProCare {
	color: #DA0000;
}

.panel-ProCare .detail-ProCare .price-ProCare {
	float: right;
	font-weight: normal;
	font-size: 12px;
	text-decoration: line-through;
	padding: 2px;
	color: #504F4F;
}

.panel-ProCare .detail-ProCare a {
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #504F4F;
}

.panel-ProCare .detail-ProCare a:hover {
	color: #2003FA;
}

/* Tùy chỉnh lượt mua, xem, hỏi */
.panel-ProCare .detail-ProCare .number-buy,  .panel-ProCare .detail-ProCare .number-view, 
	.panel-ProCare .detail-ProCare .number-cmt {
		color: #504F4F;
		cursor: default;
		font-size: 14px;
		margin-left: 12px;
}

